<div class="card">
    <div class="card-header"><strong>Edit Todo</strong></div>
    <div class="card-body">
        <form [formGroup]="form" (submit)="update()">
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                    formControlName="title"
                    required
                    id="title" 
                    name="title"
                    type="text" 
                    class="form-control">
                <div *ngIf="title.touched && !title.valid" class="alert alert-danger">
                    Title required
                </div>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select 
                    formControlName="status"
                    required
                    name="status"
                    id="status" 
                    class="form-control">
                    <option value=""></option>
                    <option *ngFor="let item of statusList" [ngValue]="item.id">{{item.name}}</option>
                </select>
                <div *ngIf="status.touched && !status.valid" class="alert alert-danger">
                    Status required
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
                
    </div> 
    <div class="card-footer">
        <div class="alert alert-success" *ngIf="message != ''">
            <strong>Success!</strong> {{message}}
        </div>
    </div>
</div>